@page "/profile"
@attribute [Authorize]

<PageTitle>Profile</PageTitle>

<AuthorizeView>
    <h3>Hi, you are logged in with <i>@context.User.Identity.Name</i></h3>
</AuthorizeView>






@code {
    
}